body{

}

header{
  text-align: right;
}

section{
  height: 600px;
}

#section-one{
  background: no-repeat url("./Resources/customer-care.jpg");
  background-attachment: fixed;
  background-size: cover;
}
